@import "tailwindcss";

/* Ensure html and body take full height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white; /* optional neutral base */
}

body { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- CSS for Responsive Video Embed --- */
.video-responsive {
    width: 100%; 
    padding-bottom: 56.25%; 
    position: relative;
    height: 0;
    overflow: hidden;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideInRight 0.6s forwards;
}